@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}
.mainContainer {
  margin-top: 6vh;
  width: 98vw;
  height: 88vh;
  position: relative;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.container {
  margin-top: 1vh;
  width: 20vw;
  position: absolute;
}
.toggleButton {
  right: 0;
  height: 2vh;
  background-color: transparent;
  border-radius: 4px;
  width: 2vw;
  border: none;
  outline: none;
  position: absolute;
  font-size: 1vw;
}
.header {
  width: 90%;
  border-radius: 14px;
  background-color: rgb(0, 0, 0, 0.3);
  font-family: "Quicksand", sans-serif;
  font-size: 1.3vw;
  color: blanchedalmond;
  text-align: end;
  padding-right: 2vw;
}

.footer {
  margin-top: 1px;
  border-radius: 14px;
  background-color: rgb(0, 0, 0, 0.3);
  font-family: "Quicksand", sans-serif;
  font-size: 0.9vw;
  color: blanchedalmond;
  text-align: center;
}
.goal {
  margin-top: 0.2vh;
}
.goalBorder {
  background-color: black;
  height: 2.7vh;
  border-radius: 3px;
  width: 97.63%;
}
.goalFill {
  background-color: rgb(0, 153, 0);
  height: 2.7vh;
  border-radius: 3px;
  max-width: 97.8%;
  margin-top: -2.7vh;
  position: absolute;
}
.goalTitle {
  text-align: start;
  color: blanchedalmond;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  padding-left: 0.5vw;
  margin-top: -2.5vh;
  position: absolute;
}
.goalNumbers {
  text-align: end;
  color: blanchedalmond;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  margin-top: -2.5vh;
  right: 1.5vw;
  position: absolute;
}
.goalAddButton {
  font-size: 1vw;
  box-sizing: border-box;
  height: 2.7vh;
  right: 0;
  outline: none;
  width: 1vw;
  margin-top: -2.7vh;
  position: absolute;
}
.goalAddInput {
  box-sizing: border-box;
  width: 2vw;
  height: 2.7vh;
  right: 1vw;
  margin-top: -2.7vh;
  position: absolute;
}
.goalsHeader {
  font-family: "Quicksand", sans-serif;
  color: blanchedalmond;
  text-align: center;
  font-size: 1.3vw;
  width: 100%;
  border-radius: 14px;
  background: rgb(0, 0, 0, 0.3);
}
.request {
  box-sizing: border-box;
  color: blanchedalmond;
  text-align: left;
  font-family: "Titillium Web";
  padding-left: 0.5vw;
  font-size: 1.8vh;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 14px;

  margin-top: 0.1vh;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  display: flex;
  padding-right: 0.5vw;
}

#id1.request {
  font-size: 1.3vw;

  width: 100%;
  max-width: 100%;
}
.icon {
  height: 1.5vh;
  margin-top: 0.7vh;
}
#id1.icon {
  height: 1.9vh;
}
.requestMessage {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  min-width: 0%;
}
.requestMessage:hover {
  white-space: normal;
}
.requestName {
  display: inline-block;
  flex: 1;
}
.requestListTimer {
  color: white;
  font-size: 1.4vw;
  font-family: "Titillium Web";
  position: absolute;
  margin-left: 0.8vw;
  margin-top: -3.4vh;
}
.redemption {
  border: transparent;
  font-size: 1.1vw;
  color: blanchedalmond;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(0, 0, 0, 0);
}
.redemption:hover {
  font-size: 1.3vw;
}
.storeFooter {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  border: 1px solid black;
  border-radius: 14px;
  font-size: 1vw;
  color: blanchedalmond;
  background-color: rgb(0, 0, 0, 0.3);
}
.storeHeader {
  color: blanchedalmond;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.5vw;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 14px;
}
#store.container {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 14px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#requestList.container {
  padding-right: 0px;
  padding-left: 0px;
}
#goals.container {
  padding-left: 0px;
  padding-right: 0px;
}
.backButton {
  right: 0px;
  position: absolute;
  height: 2vh;
  width: 2vw;
  border-radius: 14px;
  text-align: center;
}
.backButtonText {
  font-size: 2vw;
  margin-top: -1.2vh;
}
.redemptionLabel {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.3vw;
}
.redemptionInput {
  width: 70%;
  height: 2vh;
}
.redemptionButton {
  font-size: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 14px;
  height: 3vh;
  width: 40%;
}
.redemptionInfo {
  width: 100%;
  font-size: 1vw;
}
.chest {
  outline: none;

  border: none;
  position: absolute;
  background-color: transparent;
}
.grantAccess {
  margin-top: 40vh;
  font-size: 1.5vw;
  margin-left: 70vw;
  width: 20vw;
  text-align: center;
  border: solid 1px green;
  background-color: black;
  height: 17.5vh;
  border-radius: 12px;
}
